@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.english {
  padding: 1vmax;
  width: 100%;
  margin: auto;
  background-color: #f3f3ef;
}
.header {
  padding: 1vmax;
  font-size: 2rem;
  /* margin-bottom: 20px; */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
}
.top-stories {
  padding: 1vmax 5vmax;
  font-size: 2vmax;
  /* margin-bottom: 1vmax; */
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.large-article {
  width: 80%;
  height: 30%;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 1vmax;
}
.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-image-large {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 5px 5px #cfcccc;
}
.article-image-large:hover {
  filter: brightness(1.1);
  transition: filter 0.3s ease;
}

.article-title-large {
  width: 100%;
  font-size: 2.8vmax;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #333000;
}
.article-title-large:hover {
  text-decoration: underline #0a44c0;
  transition: text-decoration 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
.small-articles {
  grid-column: 2 / 3;
  display: flex;
  padding: 10px 5px;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  background-color: #d6d4d4;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #adaaaa;
}

.small-article {
  display: flex;
  margin-bottom: 50px;
  gap: 10px;
  align-items: flex-start;
}
.article-image-small {
  width: 35%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 20px;
  box-shadow: 0px 5px 5px #cfcccc;
}
.article-image-small:hover {
  filter: brightness(1.1);
  transition: filter 0.3s ease;
}

.article-title-small {
  padding: 1vmax 1vmax;
  font-size: 1.5vmax;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  text-align: left;
  flex-grow: 1;
}
.article-title-small:hover {
  text-decoration: underline #0a44c0;
  transition: text-decoration 0.3s ease;
}
.article-time-large {
  color: #fd2c25;
}
.article-time-small {
  padding: 1vmax;
  color: #fd2c25;
}
.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px; /* Adjust size if necessary */
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slick-next {
  right: 0;
}
