@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

#header {
  margin: 0vmax;
  padding: 1vmax 0vmax;
  box-sizing: border-box;
  display: flex;
  background-color: #121212;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
#header.scrolled {
  background-color: rgba(30, 30, 25, 0.8);
}

.main {
  margin-left: 5vmax;
  align-items: center;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.flex {
  display: flex;
}

/* news name */
.main > h2 {
  font-size: 2vmax;
  margin-left: 25vmax;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* left panel */
.news-group {
  display: flex;
  gap: 2vmax;
}
.main > h3 {
  font-size: 0.3vmax;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lines {
  width: 1.9vmax;
  height: 1.9vmax;
}
/* end panel */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-container input {
  padding: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  margin-left: 2.5vmax;
  font-size: 1vmax;
  border: none;
  border-radius: 20px;
  outline: #c0bbb9 solid 1px;
  width: 10vmax;
  background-color: rgba(251, 251, 251, 0.6);
}
.search {
  position: absolute;
  right: 1vmax;
  top: 50%;
  transform: translateY(-50%);
  color: #574541;
  font-size: 1.2vmax;
}
/* languages */
.dropdown-menu {
  display: flex;
  margin-left: 22vmax;
  width: 6vmax;
  border: none;
  border-radius: 7px;
  font-size: 0.8rem;
  padding: 2px;
  outline: #c0bbb9 solid 0.5px;
}

#nav {
  padding: 0.5vmax;
  margin: 0vmax;
  box-sizing: border-box;
  display: flex;
  background-color: #faf9f6;
  border-bottom: 0.5px solid #9299ad;
  box-shadow: 0px 2px 3px #514d4c;
}

.news-section {
  display: flex;
  margin-left: 5vmax;
  padding: 0.5vmax;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 2.5vmax;
}

.news-section > h4 {
  font-size: 1vmax;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}
