:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

/* Make the root element a flex container */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The main content area should take up all available space */
.main-content {
  padding-top: 3vmax;
  flex: 1;
}

/* Style the footer */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
